   html, body { 
    height: 100%;
    margin: 0%;
   } 


/*Para que quede centrado y sin puntos ruta de nav*/
ul {
    list-style-type: none; /* Quita los puntos de los elementos de la lista */
    padding: 20px;            /* Elimina el relleno predeterminado del navegador */
    margin-right: 500px;    /* Espacio entre los elementos de la lista */
    float: left;     
    display:flex;
    flex-direction:row;
    text-decoration: none;
    justify-content: space-between; /* Distribuye los elementos */
    
    }


body {
    background-image: url("bodega-ruca-malen.jpg");
    
    background-size: cover; 
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la ventana */
    color: black;
    
}
  

 /*en la sub pagina "VINOS"*/
.contenido {
    text-align: center;    
    color:white;
    
    
    
}


/*vinos config
.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    color: black; 
    
    
} */

.card-img-top {
    width: 100%;
    height: 300%;
    max-height: 300px; /* Ajusta esta altura según tus necesidades */
   
}
.card {
    max-width: 18rem; /* Ajusta el ancho máximo de las tarjetas */
    margin: auto; /* Centra las tarjetas horizontalmente */
}
footer { 
    margin: 9%;
    text-align: center;
    color:white;
    background-color: #000000cb;
    padding: 1px;
}

/*NOSOTROS CONFIG. DE LAS IMÁGENES Y TEXTO*/
.personas { 
    align-items: center;
    display: flex;
    justify-content: space-around;
 }

/*LA TABLA SOLICITADA DE LOS MIEMBROS*/
 table {
    border-collapse: collapse; /* Necesario para que funcione border-spacing */
    width: 100%; 
    padding: 23px; /* Espaciado interno de las celdas */ 
    text-align: center;
}

/*CONTACTO*/
.whatsapp-link {
    text-decoration: none;
    color: #25d366;
}

aside {
    width: 300px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    color: #212529;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: move;
    z-index: 1000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

aside h6 {
    margin-top: 0;
    font-size: 1.2em;
    color: #343a40;
}

aside p {
    margin-bottom: 0;
}

/*PRECIO DE LOS VINOS PARA QUE SEA LEGIBLE*/
.precio {
    background-color: #f0f0f0; 
    padding: 10px; /* Espacio interno */
            display: inline-block;
}

/*Video colocado en página DE VINOS*/
#video-container {
    
    bottom: 20px;
    right: 20px;
    z-index: 2; /* Asegura que el video esté por encima de otros elementos */
     
}

aside {
    background-color: rgba(247, 247, 247, 0.8); /* Color de fondo con opacidad reducida */
    padding: 20px; /*le brindo espacio entre el contenido y su borde interior.*/
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.aside h6 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.aside p {
    margin-bottom: 0;
    font-size: 16px;
    color: #666;
}










